<p id="notice"><%= notice %></p>

<h2> Página de Equipamentos do Laboratório: <%= @laboratorio.nome %></h2>

<% if !@laboratorio.equipamentos.empty? %>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Função</th>
      <th scope="col">Taxa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @laboratorio.equipamentos.each do |equipamento| %>
      <tr>
        <td><%= equipamento.nome %></td>
        <td><%= equipamento.funcao %></td>
        <td><%= equipamento.taxa %></td>
        <td><%= link_to 'Mostrar', [@laboratorio, equipamento] %></td>
        <% if (admin_signed_in? || @user == @responsavel) %>
            <td><%= link_to 'Editar', edit_laboratorio_equipamento_path(@laboratorio, equipamento) %></td>
            <td><%= link_to 'Deletar', [@laboratorio, equipamento], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% else %>
    <p> Não há equipamentos registrados </p>
<% end %>

<% if (admin_signed_in? || @user == @responsavel) %>
  <%= link_to 'Criar equipamento', new_laboratorio_equipamento_path(@laboratorio) %> |
<% end %>

<%= link_to 'Voltar ao laboratório', @laboratorio %>