<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @equipamento.nome %>
</p>

<p>
  <strong>Função:</strong>
  <%= @equipamento.funcao %>
</p>

<p>
  <strong>Taxa diária:</strong>
  <%= @equipamento.taxa %>
</p>

<p>
  <strong>Laboratorio:</strong>
  <%= @equipamento.laboratorio.nome %>
</p>

<%= link_to 'Página de equipamentos', laboratorio_equipamentos_path(@laboratorio) %> |
<% if (@user == @responsavel) %>
    <%= link_to 'Editar equipamento', edit_laboratorio_equipamento_path(@laboratorio) %> |
<% end%>

<% if (user_signed_in?) %>
  <%= link_to 'Pedir equipamento', new_pedido_path %>
  <% cookies[:tipo] = "equipamento"%>
  <% cookies[:idLab] = @laboratorio.id %>
  <% cookies[:idItem] = @equipamento.id %>
<% end %>
