<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @equipamento.nome %>
</p>

<p>
  <strong>Funcao:</strong>
  <%= @equipamento.funcao %>
</p>

<p>
  <strong>Taxa:</strong>
  <%= @equipamento.taxa %>
</p>

<p>
  <strong>Laboratorio "[id]":</strong>
  <%= @equipamento.laboratorio.nome %> [<%=@equipamento.laboratorio.id %>]
</p>

<%= link_to 'Página de equipamentos', laboratorio_equipamentos_path(@laboratorio) %>
<% if (@user == @responsavel) %>
    <%= link_to 'Editar equipamento', edit_laboratorio_equipamento_path(@laboratorio) %>
<% end%>

<%= link_to 'Pedir equipamento', create_pedido_equipamento_path("equipamento", @laboratorio, @equipamento) %>

