<p id="notice"><%= notice %></p>

<h1>Pedido Responsabilidades do usuário</h1>

<% if @pedido_responsabilidades_this != nil %>
    <table>
    <thead>
        <tr>
        <th>Nome do laboratório</th>
        <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @pedido_responsabilidades_this.each do |pedido_responsabilidade| %>
        <tr>
            <td><%= Laboratorio.find(pedido_responsabilidade.id_laboratorio).nome %></td>
            <td><%= link_to 'Editar', edit_pedido_responsabilidade_path(pedido_responsabilidade) %></td>
            <td><%= link_to 'Deletar', pedido_responsabilidade, method: :delete, data: { confirm: 'Confirmar?' } %></td>
        </tr>
        <% end %>
    </tbody>
    </table>
<% else %>
    Não há solicitações de Responsabilidades
<% end %>

<br><br/>

<%= link_to 'Voltar', account_path %>