<%= form_with(model: admin, local: true) do |form| %>
  <% if admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin.errors.count, "error") %> prohibited this admin from being saved:</h2>

      <ul>
      <% admin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.fields_for :user do |u| %>
    <div class="field">
      <%= u.label :nome, "Nome" %>
      <%= u.text_field :nome, class: 'form-control' %>
    </div>

    <div class="field">
      <%= u.label :email, "Email" %>
      <%= u.text_field :email, class: 'form-control' %>
    </div>

    <div class="field">
      <%= u.label :password, "Senha" %>
      <%= u.password_field :password, class: 'form-control' %>
    </div>

    <div class="field">
      <%= u.label :password_confirmation, "Confirmar senha" %>
      <%= u.password_field :password_confirmation, class: 'form-control' %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nusp, "Número USP" %>
    <%= form.number_field :nusp, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary'%>
  </div><br/>
<% end %>
