<%= form_with(model: docente, local: true) do |form| %>
  <% if docente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(docente.errors.count, "error") %> prohibited this docente from being saved:</h2>

      <ul>
      <% docente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nusp %>
    <%= form.number_field :nusp %>
  </div>

  <div class="field">
    <%= form.label :departamento %>
    <%= form.text_field :departamento %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
