<%= form_with(model: docente, local: true) do |form| %>
  <% if docente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(docente.errors.count, "error") %> prohibited this docente from being saved:</h2>

      <ul>
      <% docente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= form.fields_for :user do |u| %>
    <div class="form-group">
      <%= u.label :nome %>
      <%= u.text_field :nome, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= u.label :email %>
      <%= u.text_field :email, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= u.label :password, "Senha" %>
      <%= u.password_field :password, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= u.label :password_confirmation, "Confirmação da senha" %>
      <%= u.password_field :password_confirmation, class: 'form-control' %>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :nusp, "Número USP" %>
    <%= form.number_field :nusp, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :departamento %>
    <%= form.text_field :departamento, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
  <br/>
<% end %>
