<p id="notice"><%= notice %></p>

<h2> Página de Serviços do Laboratório: <%= @laboratorio.nome %></h2>

<% if !@laboratorio.servicos.empty? %>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Função</th>
      <th scope="col">Taxa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @laboratorio.servicos.each do |servico| %>
      <tr>
        <td><%= servico.nome %></td>
        <td><%= servico.descricao %></td>
        <td><%= servico.taxa %></td>
        <td><%= link_to 'Mostrar', [@laboratorio, servico] %></td>
        <% if (admin_signed_in? || @user == @responsavel) %>
            <td><%= link_to 'Editar', edit_laboratorio_servico_path(@laboratorio, servico) %></td>
            <td><%= link_to 'Deletar', [@laboratorio, servico], method: :delete, data: { confirm: 'Confirmar?' } %></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% else %>
    <p> Não há serviços registrados </p>
<% end %>

<% if (admin_signed_in? || @user == @responsavel) %>
  <p><%= link_to 'Criar Serviço', new_laboratorio_servico_path(@laboratorio) %></p>
<% end %>

<p><%= link_to 'Voltar ao laboratório', @laboratorio %></p>