<p id="notice"><%= notice %></p>

<h2> Página de Serviços do Laboratório: <%= @laboratorio.nome %></h2>

<% if !@laboratorio.servicos.empty? %>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Função</th>
      <th>Taxa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @laboratorio.servicos.each do |servico| %>
      <tr>
        <td><%= servico.nome %></td>
        <td><%= servico.descricao %></td>
        <td><%= servico.taxa %></td>
        <td><%= link_to 'Show', [@laboratorio, servico] %></td>
        <% if (admin_signed_in? || @user == @responsavel) %>
            <td><%= link_to 'Edit', edit_laboratorio_servico_path(@laboratorio, servico) %></td>
            <td><%= link_to 'Destroy', [@laboratorio, servico], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% else %>
    <p> Não há serviços registrados </p>
<% end %>

<% if (admin_signed_in? || @user == @responsavel) %>
  <p><%= link_to 'Criar servico', new_laboratorio_servico_path(@laboratorio) %></p>
<% end %>

<p><%= link_to 'Página do laboratório', @laboratorio %></p>