<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @servico.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @servico.descricao %>
</p>

<p>
  <strong>Taxa:</strong>
  <%= @servico.taxa %>
</p>

<p>
  <strong>Laboratorio "[id]":</strong>
  <%= @servico.laboratorio.nome %> [<%=@servico.laboratorio.id %>]
</p>

<%= link_to 'Página de serviços', laboratorio_servicos_path(@laboratorio) %>

<% if (@user == @responsavel) %>
    <%= link_to 'Editar serviços', edit_laboratorio_servico_path(@laboratorio) %>
<% end%>
<% if (user_signed_in?) %>
  <%= link_to 'Pedir serviço', create_pedido_alternativo_path("servico", @laboratorio, @servico) %>
<% end %>

