<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @servico.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @servico.descricao %>
</p>

<p>
  <strong>Taxa diária:</strong>
  <%= @servico.taxa %>
</p>

<p>
  <strong>Laboratorio:</strong>
  <%= @servico.laboratorio.nome %>
</p>

<%= link_to 'Página de serviços', laboratorio_servicos_path(@laboratorio) %>

<% if (@user == @responsavel) %>
    <%= link_to 'Editar serviços', edit_laboratorio_servico_path(@laboratorio) %>
<% end%>
<% if (user_signed_in?) %>
  <%= link_to 'Pedir serviço', new_pedido_path %>
  <% cookies[:tipo] = "servico"%>
  <% cookies[:idLab] = @laboratorio.id %>
  <% cookies[:idItem] = @servico.id %>
<% end %>

