<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @servico.nome %>
</p>

<p>
  <strong>Funcao:</strong>
  <%= @servico.funcao %>
</p>

<p>
  <strong>Taxa:</strong>
  <%= @servico.taxa %>
</p>

<p>
  <strong>Laboratorio:</strong>
  <%= @servico.laboratorio %>
</p>

<%= link_to 'Edit', edit_servico_path(@servico) %> |
<%= link_to 'Back', servicos_path %>
