<p id="notice"><%= notice %></p>

<h2>Lista de vínculos</h2>
<br><br/>
<p> Docentes </p>
<% if (Docente.where(laboratorio_id: @laboratorio.id).exists?) %>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Número USP</th>
      <th>Departamento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% Docente.where(laboratorio_id: @laboratorio.id).each do |docente| %>
      <tr>
        <td><%= docente.user.nome %></td>
        <td><%= docente.nusp %></td>
        <td><%= docente.departamento %></td>
        <% if (@user == @responsavel || admin_signed_in?) %>
            <td><%= link_to 'Destroy', laboratorio_vinculo_path(id: @laboratorio.id, nomeCompleto: docente.user.nome, nUSP: docente.nusp), method: :put ,data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% else %>
    <p> Não há docentes vinculados. </p>
<% end %>

<p> Alunos </p>
<% if Aluno.where(laboratorio_id: @laboratorio.id).exists? %>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Número USP</th>
      <th>Departamento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% Aluno.where(laboratorio_id: @laboratorio.id).each do |aluno| %>
      <tr>
        <td><%= aluno.user.nome %></td>
        <td><%= aluno.nusp %></td>
        <td><%= aluno.departamento %></td>
        <% if (@user == @responsavel || admin_signed_in?) %>
             <td><%= link_to 'Destroy', laboratorio_vinculo_path(id: @laboratorio.id, nomeCompleto: aluno.user.nome, nUSP: aluno.nusp), method: :put ,data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% else %>
    <p> Não há alunos vinculados. </p>
<% end %>

<% if (@user == @responsavel || admin_signed_in?) %>
  <p><%= link_to "Criar vínculo", new_laboratorio_vinculo_path(@laboratorio) %>
<% end %>

<p><%= link_to 'Página do laboratório', @laboratorio %></p>
