<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @aluno.user.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @aluno.user.email %>
</p>

<p>
  <strong>Nusp:</strong>
  <%= @aluno.nusp %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @aluno.departamento %>
</p>

<%= link_to 'Edit', edit_aluno_path(@aluno) %> |
<%= link_to 'Back', alunos_path %>
