<%= form_with(model: representante_externo, local: true) do |form| %>
  <% if representante_externo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(representante_externo.errors.count, "error") %> prohibited this representante_externo from being saved:</h2>

      <ul>
      <% representante_externo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= form.fields_for :user do |u| %>
    <div class="field">
      <%= u.label :nome %>
      <%= u.text_field :nome %>
    </div>

    <div class="field">
      <%= u.label :email %>
      <%= u.text_field :email %>
    </div>

    <div class="field">
      <%= u.label :password %>
      <%= u.password_field :password %>
    </div>

    <div class="field">
      <%= u.label :password_confirmation %>
      <%= u.password_field :password_confirmation %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :RG %>
    <%= form.number_field :RG %>
  </div>

  <div class="field">
    <%= form.label :UF %>
    <%= form.text_field :UF %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
