<p id="notice"><%= notice %></p>

<h1>Representante Externos</h1>

<table>
  <thead>
    <tr>
      <th>Rg</th>
      <th>Uf</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @representante_externos.each do |representante_externo| %>
      <tr>
        <td><%= representante_externo.RG %></td>
        <td><%= representante_externo.UF %></td>
        <td><%= link_to 'Show', representante_externo %></td>
        <td><%= link_to 'Edit', edit_representante_externo_path(representante_externo) %></td>
        <td><%= link_to 'Destroy', representante_externo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Representante Externo', new_representante_externo_path %>
