<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @representante_externo.user.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @representante_externo.user.email %>
</p>

<p>
  <strong>RG:</strong>
  <%= @representante_externo.RG %>
</p>

<p>
  <strong>UF:</strong>
  <%= @representante_externo.UF %>
</p>

<%= link_to 'Editar', edit_representante_externo_path(@representante_externo) %> |
<%= link_to 'Conta', account_path %>

