<%= form_with(model: postagem, local: true) do |form| %>
  <% if postagem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(postagem.errors.count, "error") %> prohibited this postagem from being saved:</h2>

      <ul>
      <% postagem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :"Título" %>
    <%= form.text_area :titulo, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :"Texto" %>
    <%= form.text_area :texto, class: 'form-control' %>
  </div>


  <div class="form-group">
  <%= form.label :"Laboratório" %>
    <% if admin_signed_in? %>
      <%= form.collection_select :laboratorio_id, Laboratorio.all, :id, :nome, {include_blank: "Principal"}, {class: 'form-control'} %>
    <% elsif aluno_signed_in? %>
      <% if current_aluno.laboratorio != nil %>
        <%= form.hidden_field :laboratorio_id, value: current_aluno.laboratorio.id %>
        <p><%= current_aluno.laboratorio.nome %></p>
      <% else %>
        Não tem laboratorio vinculado
      <% end %>
    <% elsif docente_signed_in? %>
      <% if !current_docente.laboratorios.empty?%>
        <%= form.collection_select :laboratorio_id, current_docente.laboratorios, :id, :nome %>
      <% else %>
        Não tem laboratorio vinculado
      <% end %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit 'Criar postagem', class: 'btn btn-primary' %>
  </div>
<% end %>
