<h1>Editar Postagem</h1>

<% if (@user == nil) %>
    <div id="error_explanation">
        <h2> Deve estar logado para editar </h2>
    </div>
<% elsif (aluno_signed_in?) %>
    <% if @user.laboratorio == nil %>
        Você não tem permissão
    <% else %>
        <%= render 'form', postagem: @postagem %>
    <% end %>
<% elsif docente_signed_in? %>
    <% if !@user.laboratorios.exists?(@postagem.laboratorio.id) %>
        Você não tem permissão
    <% else %>
        <%= render 'form', postagem: @postagem %>
    <% end %>
<% elsif admin_signed_in? %>
    <%= render 'form', postagem: @postagem %>
<% else %>
    <div id="error_explanation">
        <h2> Você não tem permissão </h2>
    </div>
<% end %>

<%= link_to 'Mostrar', @postagem %> |
<%= link_to 'Voltar', postagems_path %>
