<p id="notice"><%= notice %></p>

<h1>Postagens</h1>

<table class="table">
  <% if admin_signed_in? %>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Título </th>
        <th scope="col">Laboratório</th>
        <th scope="col">Feito em:</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @postagems.order('created_at desc').each do |postagem| %>
        <tr>
          <td><%= postagem.titulo %></td>
          <% if postagem.laboratorio != nil %>
            <td><%= postagem.laboratorio.nome %></td>
          <% else %>
            <td> Principal </td>
          <% end %>
          <td><%= postagem.created_at.strftime("%H:%M de %d-%m-%Y") %></td>
          <td><%= link_to 'Mostrar', postagem %></td>
          <%if admin_signed_in? || (user_signed_in? && postagem.user_id == current_user.id)%>
            <td><%= link_to 'Editar', edit_postagem_path(postagem) %></td>
            <td><%= link_to 'Deletar', postagem, method: :delete, class: 'text-danger', data: { confirm: 'Confirmar?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <p>Sem permissão para visualizar todas as postagens</p>
    <p>Entre em um dos laboratórios ou vá para a página principal para ver as mensagens dos administradores</p>
  <% end %>
</table>

<br>


<%= link_to 'Nova Postagem', new_postagem_path, class: 'btn btn-primary' %>
<%= link_to 'Voltar', :back,  class: 'btn btn-primary'%>

