<p id="notice"><%= notice %></p>

<h6>Postagem 
  <% if !@postagem.laboratorio.nil? %>
    do laboratório <%= @postagem.laboratorio.nome %>
  <% end %>
</h6>
<h1><%= @postagem.titulo %></h1>
<h4>Por <%= @poster.user.nome %></h4>

<p><%= @postagem.texto %></p>


<% if admin_signed_in? || current_user == @poster.user %>
  <%= link_to 'Editar', edit_postagem_path(@postagem) %>
<% end %>

<%= link_to 'Voltar', :back %>
  