<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @postagem.titulo %>
  <br>
  <strong>Descrição:</strong>
  <%= @postagem.texto %>
  <br>
  <strong>Autor:</strong>
  <%= @poster.user.nome %>
  <br>
  <strong>Laboratório:</strong>
  <% if @postagem.laboratorio != nil %>
    <%= @postagem.laboratorio.nome %>
  <% else %>
  nao tem né
  <% end %>
</p>

<%= link_to 'Editar', edit_postagem_path(@postagem) %> |
<%= link_to 'Voltar', postagems_path %>
  