<p id="notice"><%= notice %></p>

<p>
  <strong>Texto:</strong>
  <%= @postagem.texto %>
  <strong>Autor:</strong>
  <%= @poster.nome %>
</p>

<%= link_to 'Edit', edit_postagem_path(@postagem) %> |
<%= link_to 'Back', postagems_path %>
  