<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @postagem.titulo %>
  <strong>Descrição:</strong>
  <%= @postagem.texto %>
  <strong>Autor:</strong>
  <%= @poster.user.nome %>
</p>

<%= link_to 'Edit', edit_postagem_path(@postagem) %> |
<%= link_to 'Back', postagems_path %>
  