<%= form_with(model: pedido, local: true) do |form| %>
  <% if pedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pedido.errors.count, "error") %> prohibited this pedido from being saved:</h2>

      <ul>
      <% pedido.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :"Data de Início" %>
    <%= form.datetime_select :dataInicio %>
  </div>

  <div class="field">
    <%= form.label :"Data de Término" %>
    <%= form.datetime_select :dataFim %>
  </div>

  <div class="field">
    <%= form.label :"Descrição" %>
    <%= form.text_area :descricao %>
  </div>

  <% if (@tipo=="equipamento" && @edit == false) %>
    <div class="field">
      <%= form.label "Equipamento" %>
      <%= form.collection_select(:equipamento_id, Equipamento.where(id: @item), :id, :nome) %>
    </div>    
  <% elsif (@tipo=="servico" && @edit == false) %>
    <div class="field">
      <%= form.label "Serviço" %>
      <%= form.collection_select(:servico_id, Servico.where(id: @item), :id, :nome) %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
  
<% end %>
