<%= form_with(model: pedido, local: true) do |form| %>
  <% if pedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pedido.errors.count, "error") %> prohibited this pedido from being saved:</h2>

      <ul>
      <% pedido.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :"Data de Início" %>
    <%= form.datetime_select :dataInicio %>
  </div>

  <div class="field">
    <%= form.label :"Data de Término" %>
    <%= form.datetime_select :dataFim %>
  </div>

  <div class="field">
    <%= form.label :"Descrição" %>
    <%= form.text_area :descricao %>
  </div>

  <p>
  <% if (cookies[:tipo] == "equipamento") %>
      Equipamento: <%= Equipamento.find(cookies[:idItem]).nome %>
      <%= form.hidden_field :laboratorio_id, value: cookies[:idLab] %>
      <%= form.hidden_field :equipamento_id, value: cookies[:idItem] %>
  <% elsif (cookies[:tipo] == "servico") %>
      Serviço: <%= Servico.find(cookies[:idItem]).nome %>
      <%= form.hidden_field :laboratorio_id, value: cookies[:idLab] %>
      <%= form.hidden_field :servico_id, value: cookies[:idItem] %>
  <% end %>
  </p>

  <div class="actions">
    <%= form.submit %>
  </div>
  
<% end %>
