<%= form_with(model: pedido, local: true) do |form| %>
  <% if pedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pedido.errors.count, "error") %> prohibited this pedido from being saved:</h2>

      <ul>
      <% pedido.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :dataInicio %>
    <%= form.datetime_select :dataInicio %>
  </div>

  <div class="field">
    <%= form.label :dataFim %>
    <%= form.datetime_select :dataFim %>
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_area :descricao %>
  </div>

  <% if (@tipo=="equipamento") %>
    <div class="field">
      <%= form.label "Equipamento" %>
      <%= form.collection_select(:equipamento_id, Equipamento.where(id: @equi_id), :id, :nome) %>
    </div>
  <% elsif (@tipo!="servico") %>
    <div class="field">
      <%= form.label "Equipamento" %>
      <%= form.collection_select(:equipamento_id, Equipamento.all, :id, :nome, prompt: true) %>
    </div>
  <% end %>

  <% if (@tipo=="servico") %>
    <div class="field">
      <%= form.label "Serviço" %>
      <%= form.collection_select(:servico_id, Servico.where(id: @servi_id), :id, :nome) %>
    </div>
  <% elsif (@tipo!="equipamento") %>
    <div class="field">
      <%= form.label "Serviço" %>
      <%= form.collection_select(:servico_id, Servico.all, :id, :nome, prompt: true) %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
