<p id="notice"><%= notice %></p>

<h1>Lista de Pedidos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Data de Inicio</th>
      <th>Data de Término</th>
      <th>Aceito</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pedidos.each do |pedido| %>
      <tr>
        <% if pedido.equipamento_id != nil%>
          <td><%= pedido.equipamento.nome %></td>
        <% else %>
          <td><%= pedido.servico.nome %></td>
        <% end %>
        <td><%= pedido.dataInicio %></td>
        <td><%= pedido.dataFim %></td>
        <td><%= pedido.aceito %></td>
        <td><%= pedido.descricao %></td>
        <td><%= link_to 'Mostrar', pedido %></td>
        <% if (admin_signed_in?) %>
          <td><%= link_to 'Editar', edit_pedido_path(pedido) %></td>
          <td><%= link_to 'Deletar', pedido, method: :delete, data: { confirm: 'Confirmar?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Pedido', new_pedido_path %>
