<p id="notice"><%= notice %></p>

<p>
  <strong>Datainicio:</strong>
  <%= @pedido.dataInicio %>
</p>

<p>
  <strong>Datafim:</strong>
  <%= @pedido.dataFim %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @pedido.descricao %>
</p>

<p>
  <strong>Nome solicitante:</strong>
  <%= @solicitador.user.nome %>
</p>

<%= link_to 'Edit', edit_pedido_path(@pedido) %> |
<%= link_to 'Back', pedidos_path %>
