<p id="notice"><%= notice %></p>

<h2> Mostra pedido </h2>

<p>
  <strong>Data de Início:</strong>
  <%= @pedido.dataInicio %>
</p>

<p>
  <strong>Data de término:</strong>
  <%= @pedido.dataFim %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @pedido.descricao %>
</p>

<p>
  <strong>Nome do solicitante:</strong>
  <%= @solicitador.nome %>
</p>

<% if @tipo == "equipamento" %>
  <p>
    <strong>Equipamento:</strong>
    <%= Equipamento.find(@pedido.equipamento_id).nome %>
  </p>

  <p>
    <strong>Laboratório do equipamento:</strong>
    <%= Laboratorio.find(Equipamento.find(@pedido.equipamento_id).laboratorio_id).nome %>
  </p>

  <p>
    <strong>Taxa total de uso do equipamento:</strong>
    <%= ((@pedido.dataFim -  @pedido.dataInicio)/(24*3600)).ceil * Equipamento.find(@pedido.equipamento_id).taxa%>
  </p>
<% end %>

<% if @tipo == "servico" %>
  <p>
    <strong>Serviço:</strong>
    <%= Servico.find(@pedido.servico_id).nome %>
  </p>

  <p>
    <strong>Laboratório do servico:</strong>
    <%= Laboratorio.find(Servico.find(@pedido.servico_id).laboratorio_id).nome %>
  </p>

  <p>
    <strong>Taxa total do serviço:</strong>
    <%= ((@pedido.dataFim -  @pedido.dataInicio)/(24*3600)).ceil * Servico.find(@pedido.servico_id).taxa%>
  </p>
<% end %>

<% if (@current_user == @solicitador && !@pedido.aceito)%>
  <%= link_to 'Edit', edit_pedido_path(@pedido) %> | 
<% end %>

<% if @tipo == "equipamento"%>
  <%= link_to 'Voltar', laboratorio_equipamentos_path(@pedido.laboratorio_id) %>
<% elsif @tipo == "servico" %>
  <%= link_to 'Voltar', laboratorio_servicos_path(@pedido.laboratorio_id) %>
<% end %>
