<p id="notice"><%= notice %></p>

<h1> Recursos Solicitados </h1>

<p>Signed in as <%= current_user.email %> of type <%= current_user.meta_type %></p>
<table>

  <tbody>
  <p>
    <% if Pedido.where(:user_id => current_user.id).exists? %>
        <% Pedido.where(:user_id => current_user.id).each do |pedido|%>
            <p> <ul> <li> <%= pedido.descricao%> <%= link_to 'Show', pedido %> </li> </ul> </p>
        <% end %>
    <% else %>
        <p> <ul>  Não possui nenhuma solicitação de recurso  </ul> </p>
    <% end %>
  </p>
  </tbody>
</table>

<p><%= link_to('Voltar', account_path) %></p>
