<p id="notice"><%= notice %></p>

<h1> Conta </h1>

<% if user_signed_in? %>
  Conectado como <%= current_user.email %> - <%= current_user.meta_type %>.
  <br>
  <br>

  <%# VIEW DO ALUNO%>
  <% if (current_user.aluno?)%>
    <table class="table table-bordered table-hover">
      <tbody>
        <tr>
          <th scope="row">Número USP</th>
          <td> <%= Aluno.find(current_user.meta_id).nusp %> </td>
        </tr>
        <tr>
          <th scope="row">Departamento</th>
          <td><%= Aluno.find(current_user.meta_id).departamento %></td>
        </tr>
        <tr>
          <th scope="row">Laboratório vinculado</th>
          <td>
            <% if current_user.aluno? && Aluno.find(current_user.meta_id).laboratorio != nil %>
                <%= Aluno.find(current_user.meta_id).laboratorio.nome %>
            <% else %>
                Não está vinculado a nenhum laboratório
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>

    <% end %>

    <%# VIEW DO DOCENTE%>
    <% if (current_user.docente?)%>
    <table class="table table-bordered table-hover">
      <tbody>
        <tr>
          <th scope="row">Número USP</th>
          <td> <%= Docente.find(current_user.meta_id).nusp %> </td>
        </tr>
        <tr>
          <th scope="row">Departamento</th>
          <td><%= Docente.find(current_user.meta_id).departamento %></td>
        </tr>
        <% if @laboratorio_docente.empty? %>
          <tr>
            <th scope="row">Laboratório vinculado</th>
            <td>
              Não está vinculado a nenhum laboratório
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% if @laboratorio_docente.any? %>
      <h4>Laboratórios vinculados</h4>
      <table class="table table-bordered">
      <thead class="thead-dark">
          <tr>
          <th scope="col">Nome</th>
          <th scope="col">Localização</th>
          <th colspan="3"></th>
          </tr>
      </thead>

      <tbody>
          <% @laboratorio_docente.each do |lab| %>
          <tr>
              <td><%= lab.nome %></td>
              <td><%= lab.localizacao %></td>
              <td><%= link_to 'Página do laboratório', laboratorio_path(lab), method: :get %></td>
          </tr>
          <% end %>
      </tbody>
      </table>
    <% end %>

    <% if (Laboratorio.where(responsavel_id: current_user.meta_id).exists?) %>
    <h4>Responsável pelos laboratórios:</h4>
        <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
            <th scope="col">Nome</th>
            <th scope="col">Localização</th>
            <th colspan="3"></th>
            </tr>
        </thead>

        <tbody>
            <% Laboratorio.where(responsavel_id: current_user.meta_id).each do |lab| %>
            <tr>
                <td><%= lab.nome %></td>
                <td><%= lab.localizacao %></td>
                <td><%= link_to 'Página do laboratório', laboratorio_path(lab), method: :get %></td>
            </tr>
            <% end %>
        </tbody>
        </table>
            <% else %>
                <p> Não é responsável de nenhum laboratório. </p>
            <% end %>
        </p>
        <div class="list-group">
          <%= link_to "Solicitar responsabilidade", new_pedido_responsabilidade_path, class:'list-group-item list-group-item-action' %>
          <%= link_to "Checar solicitações de responsabilidade", index_docente_path(current_user.id), class:'list-group-item list-group-item-action' %>
        </div>
        <br>
    <% end %>

    <% if (current_user.representante_externo?) %>
      <table class="table table-bordered table-hover">
        <tbody>
          <tr>
            <th scope="row">RG:</th>
            <td> <%= RepresentanteExterno.find(current_user.meta_id).RG %> </td>
          </tr>
          <tr>
            <th scope="row">UF:</th>
            <td><%= RepresentanteExterno.find(current_user.meta_id).UF %></td>
          </tr>
        </tbody>
      </table>
    <% end %>

    <div class="list-group">    
    <%= link_to('Recursos solicitados', account_recursos_solicitados_path, class:'list-group-item list-group-item-action') %>
    <%= link_to('Lista de Pedidos', index_user_path(current_user), class:'list-group-item list-group-item-action') %>
    <% if !(current_user.representante_externo?)%>
      <%= link_to('Postagens', account_postagens_path, class:'list-group-item list-group-item-action') %>
    <% end %>
    </div>

    <br>
    <div class="btn-group">
      <%= link_to('Editar Cadastro', edit_user_path, class:'btn btn-secondary') %>
      <%= link_to "Sair", destroy_user_session_path, :method => :delete, class: 'btn btn-primary' %>
    </div>
<% else %>
    <p><%= link_to 'Conecte-se', new_user_session_path %></p>

    <p>Aluno</p>
    <%= link_to 'Registre-se', new_aluno_path %>
    <p>Docente</p>
    <%= link_to 'Registre-se', new_docente_path %>
    <p>Representante Externo</p>
    <%= link_to 'Registre-se', new_representante_externo_path %> 
<% end %>
