<p id="notice"><%= notice %></p>

<h1> Página Principal</h1>

<%= form_with(url: pesquisa_globals_index_url, method: :get, local: true) do |f| %>
  <%= f.text_field :termo %><br>
  <%= f.label 'Laboratórios' %>
  <%= f.check_box :laboratorio %><br>
  <%= f.label 'Recursos' %>
  <%= f.check_box :recurso %><br>
  <%= f.label 'Serviços' %>
  <%= f.check_box :servico %><br>
  <%= f.label 'Postagens' %>
  <%= f.check_box :postagem %><br>


  <%= f.submit 'Pesquisar', name: nil %>
<% end %>