<p id="notice"><%= notice %></p>

<h1> Página Principal</h1>

<%= form_with(url: pesquisa_global_url, method: :get, local: true) do |f| %>
  <%= f.text_field :termo %><br>
  <%= f.label 'Laboratórios' %>
  <%= f.check_box :laboratorio %><br>
  <%= f.label 'Equipamentos' %>
  <%= f.check_box :equipamento %><br>
  <%= f.label 'Serviços' %>
  <%= f.check_box :servico %><br>
  <%= f.label 'Postagens' %>
  <%= f.check_box :postagem %><br>


  <%= f.submit 'Pesquisar', name: nil %>
<% end %>

<p> <h2> Postagens dos Administradores </h2> </p>

<% Postagem.all.each do |postagem|%>
  <tr>  
    <% if User.find(postagem.user_id).meta_type == "Admin" then %> 
      <p>
      <td> <%= postagem.titulo %> </td>
      <td><%= link_to 'Mostrar', postagem %></td>
      </p>
    <% end %>
  </tr>
<% end %>

