<%= form_with(model: laboratorio, local: true) do |form| %>
  <% if laboratorio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(laboratorio.errors.count, "error") %> prohibited this laboratorio from being saved:</h2>

      <ul>
      <% laboratorio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :nome, "Nome" %>
    <%= form.text_area :nome, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :localizacao, "Localização" %>
    <%= form.text_area :localizacao, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :descricao, "Descrição" %>
    <%= form.text_area :descricao, class: 'form-control' %>
  </div>

  <% if admin_signed_in? %>
    <div class="form-group">
      <%= form.label "Responsável" %>
      <%= form.collection_select(:responsavel_id, Docente.all, :id, :nome, prompt: "Selecionar responsável", include_blank: "Nenhum") %>
    </div>
  <% else %>
    <%= form.hidden_field :responsavel_id, value: current_user.meta_id %>
  <% end %>

  <div class="actions">
    <%= form.submit  class: 'btn btn-primary' %>
  </div>
<% end %>
