<%= form_with(model: laboratorio, local: true) do |form| %>
  <% if laboratorio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(laboratorio.errors.count, "error") %> prohibited this laboratorio from being saved:</h2>

      <ul>
      <% laboratorio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_area :nome %>
  </div>

  <div class="field">
    <%= form.label :localizacao %>
    <%= form.text_area :localizacao %>
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_area :descricao %>
  </div>

  <% if admin_signed_in?%>
    <div class="field">
      <%= form.label "Responsável" %>
      <%= form.collection_select(:responsavel_id, Docente.all, :id, :nome, prompt: true) %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
