<p id="notice"><%= notice %></p>

<h1> Página do Principal do Laboratório </h1>

<p>
  <strong>Laboratório:</strong>
  <%= @laboratorio.nome %>
</p>

<p>
  <strong>Localização:</strong>
  <%= @laboratorio.localizacao %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @laboratorio.descricao %>
</p>

<p>
  <strong>Responsável:</strong>
  <%= @laboratorio.responsavel.nome %>
</p>


<% if @user == @responsavel %>
    <%= link_to "Modificar dados", edit_laboratorio_path(@laboratorio) %>
<% end %>

<%= link_to "Lista de equipamentos", laboratorio_equipamentos_path%>
<%= link_to "Lista de equipamentos", laboratorio_servicos_path%>
<%= link_to "Lista de laboratórios", laboratorios_path %>
