<p id="notice"><%= notice %></p>

<h1> Página do Laboratório </h1>

<%= form_with(model: @laboratorio, method: :get, url: :busca_laboratorio) do |f| %>
  <%= f.text_field :termo, placeholder: 'Pesquisar serviço, equipamento ou postagem' %>
  <%= f.submit 'Pesquisar' %>
<% end %>

<p>
  <strong>Laboratório:</strong>
  <%= @laboratorio.nome %>
</p>

<p>
  <strong>Localização:</strong>
  <%= @laboratorio.localizacao %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @laboratorio.descricao %>
</p>

<p>
  <strong>Responsável:</strong>
  <%= @laboratorio.responsavel.nome %>
</p>


<% if (@user == @responsavel || admin_signed_in?) %>  
    <%= link_to "Modificar dados", edit_laboratorio_path(@laboratorio) %>
<% end %>

<p><%= link_to "Lista de equipamentos", laboratorio_equipamentos_path(@laboratorio) %></p>
<p><%= link_to "Lista de serviços", laboratorio_servicos_path(@laboratorio) %></p>
<p><%= link_to "Lista de vinculos", index_vinculos_path(@laboratorio) %></p>
<p><%= link_to "Lista de laboratórios", laboratorios_path %></p>
