<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @laboratorio.nome %>
</p>

<p>
  <strong>Localizacao:</strong>
  <%= @laboratorio.localizacao %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @laboratorio.descricao %>
</p>

<p>
  <strong>Responsável:</strong>
  <%= @laboratorio.responsavel.nome %>
</p>

<%= link_to 'Edit', edit_laboratorio_path(@laboratorio) %> |
<%= link_to 'Back', laboratorios_path %>
