<p id="notice"><%= notice %></p>
<h1>Adicionando Vinculo</h1>

<% if (admin_signed_in? || @user == @responsavel) %> 
 
    <%= form_with(url: create_vinculo_path) do |form|%>
        <div class="field">
            <%= form.label :"Nome Completo: " %>
            <%= form.text_field :nomeCompleto %>
        </div>

        <div class="field">
            <%= form.label :"Número USP: " %>
            <%= form.text_field :nUSP %>
        </div>

        <div class="actions">
            <%= form.submit "Criar" %>
        </div>
    <% end %>

<% else %>
    <div id="error_explanation">
        <h2> Você não tem permissão para editar criar um vinculo </h2>
    </div>
<% end %>

<p><%= link_to "Página do laboratório", laboratorio_path %></p>