<!DOCTYPE html>
<html>
  <head>
    <title>Laboratorios Compartilhados</title>
    <%= csrf_meta_tags %>

    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='<%= controller.controller_name %>'>
    <div id="banner">
      <a href="http://localhost:3000"> <%= image_tag 'Logo.png'%> </a>
      <div id="row">
        <ul>
          <% if (aluno_signed_in? || representante_externo_signed_in? || docente_signed_in? || admin_signed_in?) %>
            <li><a href="http://localhost:3000/account"> Conta </a></li>
          <% else %>
            <li><a href="http://localhost:3000/account"> Conectar </a></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div id = "columns">
      <div id = "side">
        <ul>
          <li><a href = "http://localhost:3000">Página Principal</a></li>
          <li><a href = "http://localhost:3000/about_us">Sobre nós</a></li>
          <li><a href = "http://localhost:3000/laboratorios">Laboratorios</a></li>
          <li><a href = "http://localhost:3000/postagems">Postagens</a></li>
          <li><a href = "http://localhost:3000/pedidos">Pedidos</a></li>
          <li><a href = "http://localhost:3000/servicos">Serviços</a></li>
          <li><a href = "http://localhost:3000/equipamentos">Equipamentos</a></li>
        </ul>
      </div>
      <div id="main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>