<!DOCTYPE html>
<html>
  <head>
    <title>Laboratorios Compartilhados</title>
    <%= csrf_meta_tags %>

    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body class='<%= controller.controller_name %>'>
    <nav class="navbar navbar-dark navbar-expand-md" style="background-color: #2683C6;">
      <%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag 'Logo.png', width: 30, height: 30 %>
        Laboratórios Compartilhados
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "Laboratorios", laboratorios_path, class: 'nav-link' %>
          </li>
          <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Postagens", postagens_path, class: 'nav-link' %>
          </li>
          <% end %>
          <% if admin_signed_in? %>
            <li class="nav-item"><%= link_to "Pedidos", pedidos_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to "Responsabilidades", pedido_responsabilidades_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to "Indicadores globais", indicador_global_path, class: 'nav-link' %></li>
          <% end %>
        </ul>
        <ul class="navbar-nav ">
        <% if user_signed_in? %>
          <li><%= link_to current_user.nome + " - " + current_user.meta_type, account_path, class: 'nav-link' %></li>
          <li><%= link_to "Sair", destroy_user_session_path, :method => :delete, class: 'nav-link' %></li>
        <% else %>
          <li class="nav-item"><%= link_to 'Conectar-se', new_user_session_path, class: 'nav-link' %></li>
        <% end %>
        </ul>
      </div>
    </nav>
    <div id="main" class="container">
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
    <br>
    <br>
    <footer class="footer">
      <div class="container">
        <p> 
          Laboratórios Compartilhados da USP. Todos os direitos reservados.
          <%= link_to "Sobre nós", about_us_path %>
        </p>
      </div>
    </footer>
  </body>
</html>
