<!DOCTYPE html>
<html>
  <head>
    <title>Laboratorios Compartilhados</title>
    <%= csrf_meta_tags %>

    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body class='<%= controller.controller_name %>'>
    <div id="banner">
      <%= link_to image_tag('Logo.png'), root_path%>
      <div id="row">
        <ul>
          <% if user_signed_in? %>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
            <li><%= link_to current_user.nome + " - " + current_user.meta_type, account_path %></li>
          <% else %>
            <li><%= link_to 'Conectar', new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div id = "columns">
      <div id = "side">
        <ul>
          <li><%= link_to "Página Principal", root_path %></li>
          <li><%= link_to "Sobre nós", about_us_path %></li>
          <li><%= link_to "Laboratorios", laboratorios_path %></li>
          <li><%= link_to "Postagens", postagems_path %></li>
          <li><%= link_to "Pedidos", pedidos_path %></li>
          <li><%= link_to "Responsabilidades", pedido_responsabilidades_path %></li>
        </ul>
      </div>
      <div id="main">
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
