<p id="notice"><%= notice %></p>

<h1> Suas Postagens </h1>

<p>Conectado como <%= current_user.email %> - <%= current_user.meta_type %></p>

  <table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Título </th>
      <th scope="col">Laboratório</th>
      <th  colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% Postagem.where(user_id: current_user.id).each do |postagem| %>
        <tr>
        <td><%= postagem.titulo %></td>
        <% if postagem.laboratorio == nil %>
          <td> Página Principal </td>
        <% else %>
          <td><%= postagem.laboratorio.nome %></td>
        <% end %>
        <td><%= link_to 'Mostrar', postagem %></td>
        <td><%= link_to 'Editar', edit_postagem_path(postagem) %></td>
        <td><%= link_to 'Deletar', postagem, method: :delete, data: { confirm: 'Confirmar?' } %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to('Voltar', account_path) %></p>
